<!DOCTYPE html>
<html>

<head>
    <title>Monitoring</title>
</head>

<body>

    <h1 style="font-family:verdana;">Evidently output</h1>
    <p style="font-family:verdana;">Here you can see the html pages created from Evidently.</p>
    <p style="font-family:verdana;">Attention: these are not update. But they can be used in external ways.</p>
    
    <ul>
        <li>
            <a style="font-family:verdana;" href="http://localhost:8085/data_drift_tests">Data drift tests</a>.
        </li>
        <li>
            <a style="font-family:verdana;" href="http://localhost:8085/data_stability">Data_stability</a>.
        </li>
        <li>
            <a style="font-family:verdana;" href="http://localhost:8085/drift_report">Report drift</a>.
        </li>
    </ul>
    
    <h3 style="font-family:verdana;">For real-time moniting see Grafana dashboard.</h3>

</body>

</html>
